h2, p{
    text-align: center;
    margin: auto;
}

.motto{
    padding: 5%;
    text-align: center;
    margin: auto;

}

.about2{
    padding: 7%;
    text-align: center;
    margin: auto;
}

.statement{
    font-family: 'Times New Roman', Times, serif;
    padding: 15%;
    text-align: center;
    margin: auto;


}

.output{

    #text{    padding: 15%;
    text-align: center;
    margin: auto;
    }

}