#front
{
    background-image: url(https://www.ford.com/cmslibs/content/dam/brand_ford/en_us/brand/legacy/nameplate/cars/18_mst_segment_landing_32.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: black solid 1.5px;
}
.block
{

    margin: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    color: white;
    text-shadow: 2px 2px black;
}
button
{
    color: white;
    background-color: black;
    size: 70px;
   
}
a:visited, a:link
{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.other
{
    text-align: center;
}
.list-container
{
 margin-top: 50px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.leftc
{
    flex-basis: 70%;
}
.rightc
{
    flex-basis: 25%;
}
.leftc h1
{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
.car
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid black;
}
.car-img 
{
    flex-basis: 40%;
}
.car-info 
{
    flex-basis: 58%;
    color: gray;
}
.car-img img
{
    width: 100%;
    border-radius: 12px;
}
.car-info h3
{
    font-weight: 600;
    color:  #353535;
    font-size: 22px;
    margin: 4px 0;
}
.car-price
{
    text-align: right;
}
.car-price h4
{
    font-size: 20px;
}
.car-price h4 span
{
    font-size: 16px;
    font-weight: 500;
}
.sidebar
{
    
    border: 1px solid black;
    padding: 20px 30px;
    margin: 30px;
}
.sidebar h2
{
 font-weight: 500;
}
.sidebar h3
{
    font-weight: 500;
    margin: 20px 0 10px;

}
.filter
{
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 10px;
}
.filter p
{
    flex: 1;
}
.filter input
{
    margin-right: 15px;
    cursor: pointer;
}
